
.idea/
Framework/.classpath
Framework/.project
Framework/.settings/
Framework/Framework.iml
Framework/src/main/resources/
Framework/src/test/
Framework/target/
Webifycator.iml
WebifycatorTemplate/META-INF/
WebifycatorTemplate/WebifycatorTemplate.iml
WebifycatorTemplate/src/main/java/
WebifycatorTemplate/src/test/
WebifycatorTemplate/target/
Webmcc/Webmcc.iml
Webmcc/src/test/
Webmcc/target/
